<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dm.nok.module.M000000.G001100.F001111.service.impl.F001111Mapper">
    <select id="selectFileList" resultType="ResultVO" parameterType="F001111FileVO">
        SELECT
            FILE_ID,
            SEQ,
            NAME,
            TYPE,
            SAVE_NAME,
            FILE_SIZE,
            UPLOADED_PATH,
            THUMB_PATH
        FROM
            A_FILE
        WHERE
            FILE_ID = #{fileId}
    </select>
    
    <insert id="insertFile" parameterType="F001111FileVO">
        INSERT INTO A_FILE (
            FILE_ID,
            SEQ,
            NAME,
            TYPE,
            SAVE_NAME,
            FILE_SIZE,
            UPLOADED_PATH,
            THUMB_PATH
        ) VALUES (
            #{fileId},
            #{seq},
            #{name},
            #{type},
            #{saveName},
            #{fileSize},
            #{uploadedPath},
            #{thumbPath}
        )
    </insert>
    
    <select id="selectFileSeq" resultType="int" parameterType="F001111FileVO">
        SELECT
            (IFNULL(MAX(SEQ), 0) + 1) AS SEQ
        FROM
            A_FILE WHERE
        FILE_ID = #{fileId}
    </select>
</mapper>