<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dm.nok.module.M000000.G001200.F001211.service.impl.F001211Mapper">
    <select id="selectCodeList" resultType="ResultVO" parameterType="F001211CodeVO">
        SELECT
            AC.CODE_ID,
            (
            SELECT
                CODE_NM
            FROM
                A_CODE_LANG ACL
            WHERE
                ACL.CODE_GROUP_ID = ACG.CODE_GROUP_ID
                AND ACL.CODE_ID = AC.CODE_ID
                AND LANG_CD = #{langCd}) AS CODE_NM
        FROM
            A_CODE_GROUP ACG
        INNER JOIN A_CODE AC ON
            ACG.CODE_GROUP_ID = AC.CODE_GROUP_ID
        WHERE
            ACG.USE_YN = 'Y'
            AND ACG.CODE_GROUP_ID = #{codeGroupId}
        ORDER BY
            AC.SEQ
    </select>
    
    <select id="selectCodeGroupList" resultType="ResultVO" parameterType="String">
        ${sql}
    </select>
    
    <select id="selectCodeGroupIdExisted" resultType="ResultVO" parameterType="F001211CodeGroupVO">
        SELECT
            *
        FROM
            A_CODE_GROUP
        WHERE
            CODE_GROUP_ID = #{codeGroupId}
    </select>
    
    <insert id="insertCodeGroup" parameterType="F001211CodeGroupVO">
        INSERT INTO A_CODE_GROUP (
            CODE_GROUP_ID,
            USE_YN
        ) VALUES (
            #{codeGroupId},
            #{useYn}
        )
    </insert>
    
    <update id="updateCodeGroup" parameterType="F001211CodeGroupVO">
        UPDATE A_CODE_GROUP
        SET
            USE_YN = #{useYn}
        WHERE
            CODE_GROUP_ID = #{codeGroupId}
    </update>
    
    <delete id="deleteCodeGroup" parameterType="F001211CodeGroupVO">
        DELETE FROM A_CODE_GROUP
        WHERE CODE_GROUP_ID = #{codeGroupId}
    </delete>
    
    <insert id="mergeCodeGroupLang" parameterType="F001211CodeGroupLangVO">
        INSERT INTO A_CODE_GROUP_LANG (
            CODE_GROUP_ID, 
            LANG_CD, 
            CODE_GROUP_NM
        ) VALUES (
            #{codeGroupId}, 
            #{langCd}, 
            #{codeGroupNm}
        )
        ON DUPLICATE KEY
        UPDATE 
            CODE_GROUP_NM = #{codeGroupNm}
    </insert>
    
    <delete id="deleteCodeGroupLang" parameterType="F001211CodeGroupLangVO">
        DELETE FROM A_CODE_GROUP_LANG
        WHERE
            CODE_GROUP_ID = #{codeGroupId}
            AND LANG_CD = #{langCd}
    </delete>
    
    <select id="selectCode" resultType="ResultVO" parameterType="F001211CodeVO">
        SELECT
            CODE_ID,
            CODE_GROUP_ID,
            OPTION1,
            OPTION2,
            OPTION3,
            SEQ,
        FROM
            A_CODE AC
        LEFT JOIN A_CODE
    </select>
</mapper>