<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dm.nok.module.M000000.G001200.F001211.service.impl.F001211Mapper">
    <select id="selectCodeList" resultType="ResultVO" parameterType="F001211CodeVO">
        SELECT
            AC.CODE_ID,
            (
            SELECT
                CODE_NM
            FROM
                A_CODE_LANG ACL
            WHERE
                ACL.CODE_GROUP_ID = ACG.CODE_GROUP_ID
                AND ACL.CODE_ID = AC.CODE_ID
                AND LANG_CD = #{langCd}) AS CODE_NM
        FROM
            A_CODE_GROUP ACG
        INNER JOIN A_CODE AC ON
            ACG.CODE_GROUP_ID = AC.CODE_GROUP_ID
        WHERE
            ACG.USE_YN = 'Y'
            AND ACG.CODE_GROUP_ID = #{codeGroupId}
        ORDER BY
            AC.SEQ
    </select>
    
    <select id="selectCodeGroupList" resultType="ResultVO" parameterType="F001211CodeGroupVO">
        SELECT
            ACG.CODE_GROUP_ID,
            ACG.USE_YN,
            ACGL1.CODE_GROUP_NM AS VI,
            ACGL2.CODE_GROUP_NM AS EN
        FROM
            A_CODE_GROUP ACG
        LEFT JOIN A_CODE_GROUP_LANG ACGL1 ON
            ACG.CODE_GROUP_ID = ACGL1.CODE_GROUP_ID and ACGL1.LANG_CD = 'vi'
        LEFT JOIN A_CODE_GROUP_LANG ACGL2 ON
            ACG.CODE_GROUP_ID = ACGL2.CODE_GROUP_ID and ACGL2.LANG_CD = 'en'
    </select>
    
    <select id="selectCodeGroupIdExisted" resultType="ResultVO" parameterType="F001211CodeGroupVO">
        SELECT
            *
        FROM
            A_CODE_GROUP
        WHERE
            CODE_GROUP_ID = #{codeGroupId}
    </select>
    
    <insert id="insertCodeGroup" parameterType="F001211CodeGroupVO">
        INSERT INTO A_CODE_GROUP (
            CODE_GROUP_ID,
            USE_YN
        ) VALUES (
            #{codeGroupId},
            #{useYn}
        )
    </insert>
</mapper>