<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dm.nok.module.common.auth.menu.service.impl.AuthMenuMapper">
    <select id="selectAuthMenuTreeList" resultType="AuthMenuVO" parameterType="AuthMenuVO">
        WITH RECURSIVE MENU (
            MENU_ID,
            MENU_DESC,
            UP_MENU_ID,
            LEVEL,
            URL,
            LABEL,
            SYSTEM_ID
        ) AS (
            SELECT
                AM.MENU_ID ,
                AM.MENU_DESC ,
                AM.UP_MENU_ID,
                1 AS LEVEL,
                CAST(AM.MENU_ID AS VARCHAR(100)) AS URL,
                AM.MENU_DESC AS LABEL,
                AM.SYSTEM_ID
            FROM
                AUTH_MENU AM
            WHERE
                UP_MENU_ID IS NULL
                AND AM.SYSTEM_ID = #{systemId}
            UNION ALL
            SELECT
                AM2.MENU_ID ,
                AM2.MENU_DESC ,
                AM2.UP_MENU_ID,
                M.LEVEL + 1 AS LEVEL,
                CONCAT(M.URL, '/' , AM2.MENU_ID) AS URL,
                AM2.MENU_DESC AS LABEL,
                AM2.SYSTEM_ID
            FROM
                AUTH_MENU AM2
            INNER JOIN MENU M ON
                AM2.UP_MENU_ID = M.MENU_ID
                AND AM2.SYSTEM_ID = #{systemId}
        )
        SELECT
            MENU_ID,
            MENU_DESC,
            UP_MENU_ID,
            LEVEL,
            URL,
            LABEL,
            SYSTEM_ID
        FROM
            MENU
        ORDER BY
            URL
    </select>
    
    <select id="selectAuthMenuTabList" resultType="BaseVO" parameterType="AuthMenuVO">
        WITH RECURSIVE MENU (
            MENU_ID,
            MENU_DESC,
            UP_MENU_ID,
            LEVEL,
            URL,
            LABEL,
            SYSTEM_ID
        ) AS (
            SELECT
                AM.MENU_ID ,
                AM.MENU_DESC ,
                AM.UP_MENU_ID,
                1 AS LEVEL,
                CAST(AM.MENU_ID AS VARCHAR(100)) AS URL,
                AM.MENU_DESC AS LABEL,
                AM.SYSTEM_ID
            FROM
                AUTH_MENU AM
            WHERE
                UP_MENU_ID IS NULL
                AND AM.SYSTEM_ID = #{systemId}
            UNION ALL
            SELECT
                AM2.MENU_ID ,
                AM2.MENU_DESC ,
                AM2.UP_MENU_ID,
                M.LEVEL + 1 AS LEVEL,
                CONCAT(M.URL, '/' , AM2.MENU_ID) AS URL,
                AM2.MENU_DESC AS LABEL,
                AM2.SYSTEM_ID
            FROM
                AUTH_MENU AM2
            INNER JOIN MENU M ON
                AM2.UP_MENU_ID = M.MENU_ID
                AND AM2.SYSTEM_ID = #{systemId}
        )
        SELECT
            MENU_ID AS OPTION_VALUE,
            MENU_DESC AS OPTION_TEXT,
            'Blue' AS ADD_CLASS,
            CONCAT(URL, '.do') AS URL
        FROM
            MENU
        WHERE LEVEL = 3
        ORDER BY
            URL
    </select>
</mapper>